<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500%3B600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/register.css" />
    <title>sign up</title>
  </head>
  <body>
    <main>
      <div class="top">
        <a href="/expense/records.html">mymoney</a>
      </div>

      <form action="">
        <div class="container">
          <p class="input-text">Email:</p>
          <input type="text" placeholder="jonedoe@gmail.com" id="text"/>
        </div>
        <div class="container">
          <p class="input-text">Password:</p>
          <input type="password" placeholder="123456#" id="password" />
        </div>
        <div class="container">
          <p class="input-text">Confirm password:</p>
          <input type="password" placeholder="123456" id="confirm-password" />
        </div>
      </form>
      <div class="signin-div">
        <button  id="submit-btn">SIGN-UP</button>
      </div>
      <div class="alt">
        <p class="have an acct">
          Already have an account?
          <a class="login" href="/view/sign_in.html">login</a>
        </p>
      </div>
    </main>
    <script src="/javascript/sign.js"></script>
    
  </body>
</html>
