<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MyExpenseTracker/assets/emailverification.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500%3B600&display=swap">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <i class="fa-solid fa-envelope envelop" ></i>
            <h1>Email Verification</h1>
         <p class="txt">You're almost set to start enjoying . simply click the 
            link below to verify your email address and get started. 
            the link expires in 48hours
         </p>
         <div class="btn">
            <button class="verify">
                Verify my email address
             </button>
         </div>
        </section>
        <div class="border"></div>
        <div class="social-icons">
         <i class="fa-brands fa-instagram icons"></i>
         <i class="fa-brands fa-facebook icons"></i>
         <i class="fa-brands fa-x-twitter icons"></i>
         <i class="fa-brands fa-linkedin icons"></i>
        </div>
    </main>
</body>
</html>